<!DOCTYPE html>
{% load static %}
{% load active_page %}
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %}Commons Control - The Harley School{% endblock %}</title>
	  <!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel='stylesheet' href="{% static 'css/bootstrap.min.css'%}" type ='text/css'/>
  <link rel='stylesheet' href="{% static 'css/harley.css'%}" type ='text/css'/>
  {% block styles %}
  {% endblock styles %}
  <!-- Javascript sources -->
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/commonsapi.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  {% block scripts %}
  {% endblock scripts %}
</head>
<body>

  <div class="container-fluid" id="stickyfooter-wrap">
    <!-- Header -->
    <div id="top-nav" class="row navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><b>The Harley School</b> Commons Control</a>
        <div class="pull-right" style="padding-right:30px">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle admin-dropdown" role="button" data-toggle="dropdown" href="#">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a role="menuitem" href="/admin">Settings (this site)</a></li>
                <li><a role="menuitem" href="/status">Scrapers status</a></li>
                <li><a role="menuitem" href="http://commonscontrol.harleyschool.org/electric/">Veris Dashboard</a></li>
                <li><a role="menuitem" href="http://commonscontrol.harleyschool.org/hvac/en/administrator.html">HVAC Manager</a></li>
                <li><a role="menuitem" href="http://commonscontrol.harleyschool.org/hvac/g-50/en/administrator.html">HVAC Initial</a></li>
                <li><a role="menuitem" href="http://commonscontrol.harleyschool.org/solar/">Solar Dashboard</a></li>
                <li><a role="menuitem" href="http://sunnyportal.com">Sunny Portal</a></li>
                <li><a role="menuitem" href="http://commonscontrol.harleyschool.org/tv1/">Lobby TV</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle admin-dropdown" role="button" data-toggle="dropdown" href="#">Pages <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li class="nav-header">Projects + Data</li>
                <li {% url_search request '^/projects' 'class="active"' %}><a role="menuitem" href="/projects">Student Projects</a></li>
                <li {% url_search request '^/data/analyze' 'class="active"' %}><a role="menuitem" href="/data/analyze">Analyze Data</a></li>
                <li {% url_search request '^/data/live' 'class="active"' %}><a role="menuitem" href="/data/live">Live Graphs</a></li>
                <li class="nav-header">Learn</li>
                <li {% url_search request '^/learn/?$' 'class="active"' %}><a role="menuitem" href="/learn">About the Building</a></li>
                <li {% url_search request '^/learn/electric' 'class="active"' %}><a role="menuitem" href="/learn/electric">Electricity</a></li>
                <li {% url_search request '^/learn/solar' 'class="active"' %}><a role="menuitem" href="/learn/solar">Solar Power</a></li>
                <li {% url_search request '^/learn/greenhouse' 'class="active"' %}><a role="menuitem" href="/learn/greenhouse">Greenhouse</a></li>
                <li {% url_search request '^/learn/hvac' 'class="active"' %}><a role="menuitem" href="/learn/hvac">HVAC</a></li>
                <li {% url_search request '^/learn/geothermal' 'class="active"' %}><a role="menuitem" href="/learn/geothermal">Geothermal</a></li>
                <li {% url_search request '^/learn/solarwater' 'class="active"' %}><a role="menuitem" href="/learn/solarwater">Solar Hot Water</a></li>
                <li {% url_search request '^/learn/weather' 'class="active"' %}><a role="menuitem" href="/learn/weather">Weather Station</a></li>
                <li {% url_search request '^/learn/software' 'class="active"' %}><a role="menuitem" href="/learn/software">Software Systems</a></li>
              </ul>
            </li>
          </ul>
        </div> <!-- /navbar-collapse-->
      </div>
    </div> <!-- /navbar-->
    <!-- /Header -->    
    <!-- Content -->
    {% block content %}
    {% endblock content %}
    <!-- /Content -->
    <div id="stickyfooter-push"></div>
  </div>
  <footer class="text-center container-fluid">
    <div class="row">&copy;2014 The Harley School :: Website created by Richard Lange
    </div>
  </footer>
  {% block postscript %}
  <!-- this is where page-specific <script> tags should go -->
  {% endblock postscript %}

</body>
</html>