{% extends "base.html" %}
{% load static %}

{% block title %}Harley Commons{% endblock %}

{% block nav %}
<li class="active"><a href="/"><span class="glyphicon glyphicon-home"></a></li>
<li><a href="/timeseries/"><span class="glyphicon glyphicon-download"></span></a></li>
<li><a href="/electric">Veris Monitor</a></li>
{% endblock nav %}

{% block content %}
        <div class="col-lg-6">
          <h4>Electricity</h4>
          <p>We are monitoring all of the energy usage in the Commons. <br> <a href="/electric"> Click here to see more about power usage.</a></p>
          <p>INSERT GRAPH?</p>

          <h4>Solar</h4>
          <p>We have solar panels that offset some of our energy usage. <br> <a href="/solar">Click here to see more about the solar panels.</a></p>
          <p>INSERT GRAPH?</p>
        </div>

        <div class="col-lg-6">
          <h4>HVAC</h4>
          <p>Our heating and cooling systems are very advanced, transfering heat from one room to another to keep the temperature constant.<br> <a href="/hvac">Click here to see more on the HVAC.</a></p>
          <p>INSERT GRAPH?</p>

          <h4>Weather Station</h4>
          <p>We have a weather station that records the current weather data. <br><a href="/weather">Click here to see what the weather is like.</a></p>
          <p>INSERT GRAPH?</p>
        </div>
{% endblock content %}

