{% extends "base.html" %}
{% load static %}

{% block title %}Harley Commons{% endblock %}

{% block content %}
<div class="col-lg-6">
  <h4>Electricity</h4>
  <p>We are monitoring all of the energy usage in the Commons.</p>

  <h4>Solar</h4>
  <p>We have solar panels that offset some of our energy usage.</p>
</div>

<div class="col-lg-6">
  <h4>HVAC</h4>
  <p>Our heating and cooling systems are very advanced, transfering heat from one room to another to keep the temperature constant.</p>

  <h4>Weather Station</h4>
  <p>We have a weather station that records the current weather data.</p>
</div>
{% endblock content %}

