<p>This page is designed to help track <em>differences</em> in power usage over short intervals. Click "refresh data" to see which values have changed since last time it was clicked. Click threshold values to change them (which affects how sensitive the system is to small changes.)</p>
<br />
<div id="settings">
	<table class="threshold-values">
		<thead>
			<tr>
				<th>Unit</th>
				<th>Threshold</th>
				<th>Enable</th>
			</tr>
		</thead>
		<tbody>
			{% for unit, set in settings.items %}
			<tr class="{% cycle "dark" "light"%}">
				<td>{{ unit }}</td>
				<td><div class="threshold-value" data-unit="{{ unit }}">{{ set.0 }}</div></td>
				<td><input type="checkbox" class="unit-check" data-unit="{{ unit }}" {{ set.1|yesno:"checked," }}/></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<br />
<div id="tables-wrapper">
	<p><input type="button" value="refresh data" id="refreshbutton"/>{% if telapse > 0 %}&nbsp;Data below reflects changes in the last {{ telapse|floatformat:"0" }} seconds{% endif %}</p>
	{% for device, updates in monitor.items %}
		<h3 class="tabletitle">{{ device }}</h3>
		<table class="update-table">
			<thead>
				<tr>
					<th class="col1">Circuit</th>
					<th class="col2">Previous value</th>
					<th class="col3">Current value</th>
				</tr>
			</thead>
			<tbody>
				{% for name, prev, new in updates %}
				<tr class="{% cycle "dark" "light"%}">
					<td class="col1">{{ name }}</td>
					<td class="col2">{{ prev }}</td>
					<td class="col3">{{ new }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endfor %}
</div>
