{% extends "base.html" %}

{% block title %}Veris Live Changes{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function(){
		onPageReload();
	});

	function onPageReload(){
		$(".threshold-value").click(function(event){
			var val = $(this).text();
			var unit = $(this).data("unit");
			$(this).hide()
			$(this).parent().html('<input type="text" class="newthreshold-input" data-unit="'+unit+'" value="'+val+'"/>');
		});

		$("#refreshbutton").click(function(event){
			var sent_data = {};
			// get threshold data
			$(".threshold-values").find("tbody").find("tr").each(function(idx, elem){
				var cells = $(elem).children();
				var unit = cells.eq(0).text();
				sent_data[unit] = cells.eq(1).find("input").val() || cells.eq(1).text();
				sent_data[unit+"-en"] = cells.eq(2).children().is(":checked");
			});

			$.ajax("/verismonitor/update?",{
				success: function(data){
					$("#content").html(data);
					onPageReload();
				},
				data: sent_data
			});
		});
	}
</script>
{% endblock scripts %}

{% block styles %}
<style type="text/css">
	.dark{
		background-color:#227252;
		color:#FFF;
	}

	.light{
		background-color: #77C7A7;
		color:#FFF
	}

	.col1{
		width:15em;
	}

	.col2{
		width:10em;
		text-align:center;
	}

	.col3{
		width:10em;
		text-align:center;
	}

	.tabletitle{
		margin-top:12px;
	}

	.update-table, .threshold-values{
		border:1px solid;
	}

	.threshold-value{
		cursor:pointer;
		width:5em;
	}

	.newthreshold-input{
		width:5em;
	}

</style>
{% endblock styles %}

{% block content %}
	{% include "live_updates/veris_tables.html" %}
{% endblock content %}
