figure{
	display:table;
	margin:10px;
	width:1px; /* ensures that figcaption does not get bigger than the image */
}

figure.right{
	float:right;
	text-align: right
}

figure.left{	
	float:left;	
}

figure.center{
	width:100%;
	clear:both;
	text-align: center;
}

figure.tall{
	height: 300px;
}

figure.tall img{
	height: 280px;
}

figure.wide{
	width: 300px;
}

figure.wide img{
	width: 280px;
}

figcaption{
	word-wrap:break-word;
}

figcaption, figure img{
	display: table-row;
}