html, body{
  height: 100%;
}

.splash img{
  margin-top:50px; /* because nav bar is fixed */
  width:100%;
}

.left-nav a{
  display:block;
}

#content-wrapper p{
  font-size: 1.15em;
}

.clear{
  clear:both;
}

.left-nav{
  border-right: 2px solid #DDD;
}

.left-nav button.navbar-toggle{
  background-color: #FFF;
  color:#222;
  float:left;
  font-weight: bold;
}

/* FOOTER (sticky footer css courtesy of http://getbootstrap.com/2.3.2/examples/sticky-footer.html) */

#stickyfooter-push, footer{
  height:60px;
}

#stickyfooter-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

footer{
  position:relative;
  display:table;
  width:100%;
  background: #222;
  color:#555;
  z-index: 1001;
}

footer .row{
  display:table-cell;
  vertical-align: middle;
}

.clear50{
  height:50px;
}

/* clever trick thanks to http://stackoverflow.com/a/18330040/1935085 */
li.nav-header {
  padding-top: 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-header{
  width:100%;
}

/* MEDIA TAGS */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
/* smaller than 'md' devices */
@media (max-width: 767px) {
  #stickyfooter-footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
