{% extends "base.html" %}
{% load static %}
{% load jsonify %}
{% block title %}Data Analysis{% endblock title %}
{% block subtitle %}Data Analysis{% endblock subtitle %}

{% block styles %}
<link rel="stylesheet" href="{% static "css/bootstrap-multiselect.css" %}" />
{% endblock styles %}

{% block scripts %}
<script src="{% static "js/highcharts/highcharts.js" %}"></script>
<script src="{% static "js/bootstrap-multiselect.js" %}"></script>
{% endblock scripts %}

{% block content %}
<div id="daterange_and_seriespicker">
{# drop in the daterange UI #}
{% include "timeseries/daterange.html" %}
{# drop in the series picker UI #}
{% include "timeseries/seriespicker.html" %}
</div>
<div id="charts-container" class="col-md-12"></div>

<button class="btn btn-primary" id="makeStaticGraphBtn">Make Static Graph</button>
<button class="btn btn-primary" id="makeLiveGraphBtn">Make Live Graph</button>
<button class="btn btn-primary" id="downloadBtn">Download Spreadsheet</button>
<button class="btn btn-primary" id="editSeriesBtn">Edit</button>


<!-- this script is placed after daterange and seriespicker so that it can have access to content
	that is set inside them -->
<script>
// http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

// thanks to http://stackoverflow.com/questions/3749231/download-file-using-javascript-jquery
var downloadURL = function downloadURL(url) {
	var hiddenIFrameID = 'hiddenDownloader',
		iframe = document.getElementById(hiddenIFrameID);
	if (iframe === null) {
		iframe = document.createElement('iframe');
		iframe.id = hiddenIFrameID;
		iframe.style.display = 'none';
		document.body.appendChild(iframe);
	}
	iframe.src = url;
};

$(document).ready(function(){
	$("div#charts-container").hide();
	$("#daterange_and_seriespicker").hide();
	$("#editSeriesBtn").hide();
	$("#shareSeriesBtn").hide();

	// callback when 'download' is clicked
	function download_csv(series_obj){
		var start = Commons.daterange()[0];
		var end = Commons.daterange()[1];

		var url = '/data/api/csv/?' + $.param({
			'series' : series_obj,
			'tstart' : start.toISOString(),
			'tend' : end.toISOString()
		});
		downloadURL(url);
	}

	function showDownload(auto_laod){
		download_csv(JSON.stringify(Commons.seriespicker()));
		if(!auto_load) updateShareUrl('download');		
	}

	$("#downloadBtn").click(function(){
		showDownload(false);
	});

	// callback for making a graph
	function showStatic(auto_load){
		var start = Commons.daterange()[0];
		var end = Commons.daterange()[1];
		var series = Commons.seriespicker();
		Commons.create_chart(series, "", start, end, "div#charts-container");
		$("#daterange_and_seriespicker").slideUp({
			complete : function(){
				$("div#charts-container").slideDown();
			}
		});
		$(".btn-primary").hide();
		$("#editSeriesBtn").show();
		$("#shareSeriesBtn").show();
		if(!auto_load) updateShareUrl('static');
	}
	$("#makeStaticGraphBtn").click(function(){
		showStatic(false);
	});
	// callback for making a graph
	function showLive(auto_load){
		var start = Commons.daterange_object.startDate;
		var end = new Date();
		var hours_span = (end - start) / (1000*60*60);
		var confirm_ok = true;
		if(hours_span > 3.1 && !auto_load){
			confirm_ok = confirm("To not stress your browser, live graphs should not go back more than 3 hours. Continue anyway?");
		}
		if(!confirm_ok) return;
		var series = Commons.seriespicker();
		Commons.live_chart(series, "", "div#charts-container", hours_span*60);
		$("#daterange_and_seriespicker").slideUp({
			complete : function(){
				$("div#charts-container").slideDown();
			}
		});
		$(".btn-primary").hide();
		$("#editSeriesBtn").show();
		$("#shareSeriesBtn").show();
		if(!auto_load) updateShareUrl('live');
	}
	$("#makeLiveGraphBtn").click(function(){
		showLive(false);
	});

	function updateShareUrl(analysis_type){
		$.ajax({
			url : '/data/api/save/',
			type : 'POST',
			contentType : 'json',
			data : JSON.stringify(Commons.seriespicker()),
		}).done(function(response){
			// thanks to http://ilee.co.uk/changing-url-without-page-refresh/
			// for how to set browser url without reloading page
			var params;
			var start = Commons.daterange_object.startDate;
			var end = Commons.daterange_object.endDate;
			if(analysis_type === 'live'){
				params = {
					series_id : response.series_id,
					type : analysis_type,
					tspan : (new Date() - start) // record the timespan relative to now
				};
			} else{
				params = {
					series_id : response.series_id,
					type : analysis_type,
					tstart : Commons.daterange_object.startDate.toISOString(),
					tend : Commons.daterange_object.endDate.toISOString(),
				};
			}
			var series_path = "/data/analyze?"+$.param(params);
			history.replaceState({}, document.title, series_path)
		});
	};

	$("#editSeriesBtn").click(function(){
		$(".btn-primary").show();
		$("#editSeriesBtn").hide();	
		Commons.kill_live();

		$("div#charts-container").slideUp({
			complete : function(){
				$("#daterange_and_seriespicker").slideDown();
			}
		});
	});

	// check for params in url
	// (delayed so that other loading may finish)
	var series_id = getParameterByName("series_id");
	if(series_id){
		Commons.load_seriespicker_by_id(series_id, function(){
			// load the rest of everything after loading the seriespicker.
			// otherwise, we would get syncrhony problems
			var analysis_type = getParameterByName("type");
			// load start/end date from params
			if(analysis_type === 'live'){
				// load timespan relative to now
				var tspan = getParameterByName("tspan");
				if(tspan){
					var now = new Date();
					Commons.daterange_object.setStartDate(new Date(now - tspan));
					Commons.daterange_object.setEndDate(now);
				}
			} else{
				// load absolute times
				var start_date = getParameterByName("tstart");
				if(start_date) Commons.daterange_object.setStartDate(new Date(start_date));
				var end_date = getParameterByName("tend");
				if(end_date) Commons.daterange_object.setEndDate(new Date(end_date));
			}
			Commons.daterange_object.updateInputText();
			switch(analysis_type){
				case "download":
					showDownload(true);
					break;
				case "static":
					showStatic(true);
					break;
				case "live":
					showLive(true);
					break;
			};
		});
	} else{
		$("#daterange_and_seriespicker").slideDown();
	}
});
</script>
{% endblock content %}

