{% extends "base-leftnav.html" %}
{% load static %}
{% load jsonify %}
{% block title %}Data Analysis{% endblock title %}
{% block subtitle %}Data Analysis{% endblock subtitle %}

{% block styles %}
<link rel="stylesheet" href="{% static "css/bootstrap-multiselect.css" %}" />
<style type="text/css">
	.popover-help{
		font-size: 14pt;
		color:#AAA;
		cursor:help;
	}

	#share-link-text{
		width:100%;
	}
</style>
{% endblock styles %}

{% block scripts %}
<script src="{% static "js/highcharts/highcharts.js" %}"></script>
<script src="{% static "js/bootstrap-multiselect.js" %}"></script>
{% endblock scripts %}

{% block content %}
{# The bootstrap 'modal' is like an HTML popup box. this one is used to display the sharable link#}
<div class="modal fade" id="link-modal" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog bs-example-modal-sm">
		<div class="modal-content">
			<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<p>Copy/paste this link to share</p>
				<input type="text" id="share-link-text" value="#" />
			</div>
		</div>
	</div>
</div>
{# <h2>Analyze Data</h2><p>Use the forms below to make a quick graph or to download data for any of the building systems</p> #}
<div id="daterange_and_seriespicker">
{# drop in the daterange UI #}
<h3 class="step-label">1. Choose timespan <span class="glyphicon glyphicon-question-sign popover-help" data-toggle="popover" data-content="Click <b>1 hour</b>, <b>3 hours</b>, <b>1 day</b>, or <b>1 week</b> to look at recent data. To look at any other range of times, click in the text box and use the calendars to choose a start and end time, then click <b>Apply</b>"></h3>
{% include "timeseries/daterange.html" %}

{# drop in the series picker UI #}
<h3 class="step-label">2. Select one or more series <span class="glyphicon glyphicon-question-sign popover-help" data-toggle="popover" data-content="Use the checkboxes in the drop-down menus to select which data series to use. You may select more than one series, even from differnet categories.<br />Some systems have an additional list of sub-categories (the ones with two drop-down menus). At least one sub-category must be selected in order to use those systems."></h3>
{% include "timeseries/seriespicker.html" %}
<button class="btn btn-primary" id="clearBtn">Clear All</button>
</div>
<div id="charts-container" class="col-md-12"></div>
<div style="clear:both"></div> <!-- this clears out any overflow or underflow issues before the row of buttons -->
<h3 class="step-label" id="step3">3. Graph or Download <span class="glyphicon glyphicon-question-sign popover-help" data-toggle="popover" data-content="<b>static graph</b> will show a graph of the selected series that does not change<br /><b>live graph</b> will show a graph that updates with new data every 30 seconds<br /><b>download spreadsheet</b> will start the process of downloading a file that can opened in Excel"></h3>
<button class="btn btn-primary" id="makeStaticGraphBtn">Static Graph</button>
<button class="btn btn-primary" id="makeLiveGraphBtn">Live Graph</button>
<button class="btn btn-primary" id="downloadBtn">Download Spreadsheet</button>
<button class="btn btn-primary" id="shareSeriesBtn" data-toggle="modal" data-target="#link-modal">Share</button>
<button class="btn btn-primary" id="editSeriesBtn">Edit</button>

<!-- this script is placed after daterange and seriespicker so that it can have access to content
	that is set inside them -->
<script>
// http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

// thanks to http://stackoverflow.com/questions/3749231/download-file-using-javascript-jquery
var downloadURL = function downloadURL(url) {
	var hiddenIFrameID = 'hiddenDownloader',
		iframe = document.getElementById(hiddenIFrameID);
	if (iframe === null) {
		iframe = document.createElement('iframe');
		iframe.id = hiddenIFrameID;
		iframe.style.display = 'none';
		document.body.appendChild(iframe);
	}
	iframe.src = url;
};

$(document).ready(function(){
	$("div#charts-container").hide();
	$("#daterange_and_seriespicker").hide();
	$("#editSeriesBtn").hide();
	$("#shareSeriesBtn").hide();

	// helpful tooltips
	$("span.popover-help").popover({
		placement:'auto',
		trigger:'click hover',
		html:true,
		container:'body'
	});

	// share button: copy link
	$("#shareSeriesBtn").click(function(){
		$("#share-link-text").val(window.location);
		$("#share-link-text").select();
	});

	// callback when 'download' is clicked
	function download_csv(series_obj){
		var start = Commons.daterange()[0];
		var end = Commons.daterange()[1];

		var url = '/data/api/csv/?' + $.param({
			'series' : series_obj,
			'tstart' : start.toISOString(),
			'tend' : end.toISOString()
		});
		downloadURL(url);
	}

	function showDownload(auto_load){
		if(!auto_load) updateShareUrl('download');		
		download_csv(JSON.stringify(Commons.seriespicker()));
		$("#shareSeriesBtn").show();
	}

	$("#downloadBtn").click(function(){
		showDownload(false);
	});

	// callback for making a graph
	function showStatic(auto_load){
		var start = Commons.daterange()[0];
		var end = Commons.daterange()[1];
		var series = Commons.seriespicker();
		Commons.create_chart(series, "", start, end, "div#charts-container");
		$("#daterange_and_seriespicker").slideUp({
			complete : function(){
				$("div#charts-container").slideDown();
			}
		});
		$(".btn-primary").hide();
		$("#editSeriesBtn").show();
		$("#step3").hide();
		$("#shareSeriesBtn").show();
		if(!auto_load) updateShareUrl('static');
	}
	$("#makeStaticGraphBtn").click(function(){
		showStatic(false);
	});
	// callback for making a graph
	function showLive(auto_load){
		var start = Commons.daterange_object.startDate;
		var end = new Date();
		var hours_span = (end - start) / (1000*60*60);
		var confirm_ok = true;
		if(hours_span > 3.1 && !auto_load){
			confirm_ok = confirm("To not stress your browser, live graphs should not go back more than 3 hours. Continue anyway?");
		}
		if(!confirm_ok) return;
		var series = Commons.seriespicker();
		Commons.live_chart(series, "", "div#charts-container", hours_span*60);
		$("#daterange_and_seriespicker").slideUp({
			complete : function(){
				$("div#charts-container").slideDown();
			}
		});
		$(".btn-primary").hide();
		$("#editSeriesBtn").show();
		$("#step3").hide();
		$("#shareSeriesBtn").show();
		if(!auto_load) updateShareUrl('live');
	}
	$("#makeLiveGraphBtn").click(function(){
		showLive(false);
	});

	function updateShareUrl(analysis_type){
		$.ajax({
			url : '/data/api/save/',
			type : 'POST',
			contentType : 'json',
			data : JSON.stringify(Commons.seriespicker()),
		}).done(function(response){
			// thanks to http://ilee.co.uk/changing-url-without-page-refresh/
			// for how to set browser url without reloading page
			var params;
			var start = Commons.daterange_object.startDate;
			var end = Commons.daterange_object.endDate;
			if(analysis_type === 'live'){
				params = {
					series_id : response.series_id,
					type : analysis_type,
					tspan : (new Date() - start) // record the timespan relative to now
				};
			} else{
				params = {
					series_id : response.series_id,
					type : analysis_type,
					tstart : Commons.daterange_object.startDate.toISOString(),
					tend : Commons.daterange_object.endDate.toISOString(),
				};
			}
			var series_path = "/data/analyze?"+$.param(params);
			history.replaceState({}, document.title, series_path)
		});
	};

	$("#clearBtn").click(function(){
		history.replaceState({}, document.title, "/data/analyze/");
		Commons.load_seriespicker_state([]);
		$("#shareSeriesBtn").hide();
	});

	$("#editSeriesBtn").click(function(){
		// show buttons and animate page
		$(".btn-primary").show();
		$("#step3").show();
		$("#editSeriesBtn").hide();	
		$("#shareSeriesBtn").hide();	
		Commons.kill_live();

		// clear current graph
		var index=$("div#charts-container").data("highchartsChart");
		var chart=Highcharts.charts[index];
		if(typeof(chart) !== "undefined"){
			while(chart.series.length > 0){
				chart.series[0].remove(false);
			}
			chart.redraw();
		}

		$("div#charts-container").slideUp({
			complete : function(){
				$("#daterange_and_seriespicker").slideDown();
			}
		});
	});

	// check for params in url
	// (delayed so that other loading may finish)
	var series_id = getParameterByName("series_id");
	if(series_id){
		Commons.load_seriespicker_by_id(series_id, function(){
			// load the rest of everything after loading the seriespicker.
			// otherwise, we would get syncrhony problems
			var analysis_type = getParameterByName("type");
			// load start/end date from params
			if(analysis_type === 'live'){
				// load timespan relative to now
				var tspan = getParameterByName("tspan");
				if(tspan){
					var now = new Date();
					Commons.daterange_object.setStartDate(new Date(now - tspan));
					Commons.daterange_object.setEndDate(now);
				}
			} else{
				// load absolute times
				var start_date = getParameterByName("tstart");
				if(start_date) Commons.daterange_object.setStartDate(new Date(start_date));
				var end_date = getParameterByName("tend");
				if(end_date) Commons.daterange_object.setEndDate(new Date(end_date));
			}
			Commons.daterange_object.updateInputText();
			switch(analysis_type){
				case "download":
					showDownload(true);
					$("#daterange_and_seriespicker").show();
					break;
				case "static":
					showStatic(true);
					break;
				case "live":
					showLive(true);
					break;
				default:
					$("#daterange_and_seriespicker").show();
			};
		});
	} else{
		$("#daterange_and_seriespicker").show();
	}
});
</script>
{% endblock content %}

