{% extends "base.html" %}
{% load static %}

{% block title %}Graphs{% endblock title %}

{% block scripts %}
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="{% static "js/jquery.timepicker.js" %}"></script>
	<script src="{% static "js/jquery.datepair.js" %}"></script>
	<script src="{% static "js/highcharts/highcharts.js" %}"></script>
	<script src="{% static "timeseries/js/makechart.js" %}"></script>
{% endblock scripts %}

{% block styles %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css" />
<style type="text/css">
	.header_options{
		width:auto;
		float:left;
		margin-right:10px;
	}
	
	/* initially hide things */
	div.params_wrapper{
		display:none;
	}

	.dynamic-highchart{
		width:70%;
	}

	.check_label{
		cursor:pointer;
	}
</style>
{% endblock styles %}

{% block content %}
	<div id="query_builder">
		<!-- DATETIME RANGE PICKER -->
		<div id="datepairExample">
			<h3>Select Date Range</h3>
			<input type="text" class="date start" />
			<input type="text" class="time start" />
			<br />to
			<br />
			<input type="text" class="date end" />
			<input type="text" class="time end" />
		</div>
		<!-- SYSTEM DROP-DOWN MENU -->
		<div class="system_select">
			<h3>Select System</h3>
			<select class="system_select"><!-- drop down menu -->
				{% for sys, subs in systems.iteritems %}
				{% for subsys, specs in subs.iteritems %}
				<option data-subsysid="{{ subsys}}_params" data-sys="{{ sys }}" data-sub="{{ subsys }}">{{ sys }} - {{ subsys }}</option>
				{% endfor %}
				{% endfor %}
			</select>
		</div>
		{% for sys, subs in systems.iteritems %}
		{% for subsys, specs in subs.iteritems %}
		<!-- EACH OF THE SUBSYSTEMS' PARAMETERS (CHECKBOXES) -->
		<div class="params_wrapper" id="{{ subsys }}_params">
		{% if specs.selection|length > 0 %}
			<div class="header_select">
				<h3>Select Series</h3>
			{% for name, options in specs.selection.iteritems %}
				<div class="header_options">
					<h4>{{ name }}</h4>
					<label class="check_label"><input type="checkbox" class="check_all" />&nbsp;(select all)</label><br />
				{% for opt in options %}
					<label class="check_label"><input type="checkbox" class="check_option" data-headername="{{ name }}" data-colname="{{ opt }}" />&nbsp;{{ opt }}</label><br />
				{% endfor %}
				</div>
			{% endfor %}
			</div>
		{% endif %}
			<div class="column_select" id="columns_{{ subsys }}">
				<h3>Select Columns</h3>
				<label class="check_label"><input type="checkbox" class="check_all" id="{{ subsys }}_col_check_all" />&nbsp;(select all)</label><br />
			{% for col in specs.numeric %}
				<label class="check_label"><input type="checkbox" class="check_option" data-colname="{{ col }}" id="check_{{ col }}" />&nbsp;{{ col }}</label><br />
			{% endfor %}
			</div>
		</div>
		{% endfor %}
		{% endfor %}
		<br />
		<input type="button" value="Make Graph" id="makegraph_btn" />
	</div>
	<div id="charts-container" style="width:100%"></div>
{% endblock content %}
