{% extends "base.html" %}
{% load static %}

{% block title %}Graphs{% endblock title %}

{% block scripts %}
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="{% static "js/jquery.timepicker.js" %}"></script>
	<script src="{% static "js/jquery.datepair.js" %}"></script>
	<script src="{% static "timeseries/js/downloads.js" %}"></script>
	<script src="{% static "js/highcharts/highcharts.js" %}"></script>
	<script>
	$(function(){
		$("#testbtn").click(function(){
			console.log("TESTING");
			$.ajax({
				type: 'POST',
				contentType: 'json',
				data: JSON.stringify({
					'electric:Electric Overview' : {
						'from' : new Date() / 1000 - 8*60*60,
						'to' : new Date() / 1000,
						'columns' : ['TotalPower']
					}
				}),
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
						// Send the token to same-origin, relative URLs only.
						// Send the token only if the method warrants CSRF protection
						// Using the CSRFToken value acquired earlier
						xhr.setRequestHeader("X-CSRFToken", Commons.csrf());
					}
				}
			}).done(function(data){
				make_chart(data["electric:Electric Overview"]);
			});
		});
	});
	function make_chart(data){
		var series = [];
		var npts = data['Time'].length;
		for(ser in data){
			if(ser !== 'Time'){
				points = [];
				for(var i=0; i<npts; i++){
					points.push([1000*data['Time'][i], data[ser][i]]);
				}
				series.push({
					name: ser,
					data: points
				});
			}
		}
		var newdiv = $("<div style='width:600px'></div>");
		$("#container").append(newdiv);
		newdiv.highcharts({
	            chart: {
	                type: 'spline'
	            },
	            title: {
	                text: 'Comparing data'
	            },
	            xAxis: {
	                type: 'datetime',
	                dateTimeLabelFormats: { // don't display the dummy year
	                    month: '%e. %b',
	                    year: '%b'
	                }
	            },
	            yAxis: {
	                title: {
	                    text: 'Power (w)'
	                }
	            },
	            tooltip: {
	                formatter: function() {
	                        return '<b>'+ this.series.name +'</b><br/>'+
	                        Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y +' Watts';
	                }
	            },
	            
	            series: series
	        });
	}
	</script>
{% endblock scripts %}


{% block content %}
	<input type="button" value="test post" id="testbtn" />
	<div id="container" style="width:100%"></div>
{% endblock content %}
