{% extends "base.html" %}
{% load static %}

{% block title %}Download Data{% endblock title %}

{% block scripts %}
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{% static "js/jquery.timepicker.js" %}"></script>
<script src="{% static "timeseries/js/downloads.js" %}"></script>
<script src="{% static "timeseries/js/moment.min.js" %}"></script>
<script src="{% static "timeseries/js/daterangepicker.js" %}"></script>
{% endblock scripts %}

{% block styles %}
<link rel="stylesheet" href="{% static "timeseries/css/daterangepicker-bs3.css " %}" />
{% endblock styles %}

{% block content %}
{% include "timeseries/daterange.html" %}
<div class="buttons-container"></div>
{% endblock content %}