{% extends "base.html" %}
{% load static %}

{% block title %}Download Data{% endblock title %}

{% block scripts %}
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="{% static "js/jquery.timepicker.js" %}"></script>
	<script src="{% static "js/jquery.datepair.js" %}"></script>
	<script src="{% static "timeseries/js/downloads.js" %}"></script>
{% endblock scripts %}

{% block styles %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css" />
{% endblock styles %}

{% block content %}
	<div id="datepairExample">
		<input type="text" class="date start" />
		<input type="text" class="time start" />
		<br />to
		<br />
		<input type="text" class="date end" />
		<input type="text" class="time end" />
		<br />
		<br />
		<div class="blue rounded">
			<h3>HVAC Data</h3>
			<input type="button" class="get_data_btn" data-type="ERV" value="Get ERV" />
			<input type="button" class="get_data_btn" data-type="VRF" value="Get VRF" />
		</div>
		<div class="red rounded">
			<h3>Electrical Data</h3>
			<input type="button" class="get_data_btn" data-type="Circuits" value="Get Circuits" />
			<!--input type="button" class="get_data_btn" data-type="elec-summary" value="Get Electrical Summaries" /-->
		</div>
		<div class="yellow rounded">
			<h3>Solar Data</h3>
			<input type="button" class="get_data_btn" data-type="Solar Panels" value="Get Solar Power" />
			<input type="button" class="get_data_btn" data-type="Weather (Solar Installation)" value="Get Solar Weather Station" />
			<input type="button" class="get_data_btn" data-type="Solar Overview" value="Get Solar Summaries" />
		</div>
	</div>
{% endblock content %}