{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="{% static "js/highcharts/highcharts.js" %}"></script>
<script>
	$(function(){
		// initialization: populate each graph
		var power_series = {
			'Electric' : {
				'Electric Overview' : {
					'columns' : ['TotalPower'],
					'series' : {
						'Panel' : ['Panel 2', 'Panel 3', 'Panel 4']
					}
				}
			}
		};

		var power_demand_series = {
			'Electric' : {
				'Electric Overview' : {
					'columns' : ['Demand'],
					'series' : {
						'Panel' : ['Panel 2', 'Panel 3', 'Panel 4']
					}
				}
			}
		};

		var solar_series = {
			'Solar' : {
				'Solar Overview' : {
					'columns' : ['TotalACPower'],
					'series' : {}
				}
			}
		};

		var hour = 60;

		Commons.live_chart(solar_series, "Solar Energy Production", "#solar", hour, "spline");
		Commons.live_chart(power_series, "Power Consumers", "#power-consumers", 0, "pie");
		Commons.live_chart(power_series, "Total Power Use", "#power", hour, "spline");
		Commons.live_chart(power_demand_series, "Power Demand", "#power-demand", hour, "spline");
	});
</script>
{% endblock scripts %}

{% block content %}
<div id="solar" class="col-lg-6" style="height:300px;"></div>
<div id="power-consumers" class="col-lg-6" style="height:300px;"></div>
<div id="power" class="col-lg-6" style="height:300px;"></div>
<div id="power-demand" class="col-lg-6" style="height:300px;"></div>
{% endblock content %}