{% extends "base.html" %}
{% load static %}
{% load jsonify %}

{% block title %}Live Data{% endblock title %}
{% block subtitle %}Live Data{% endblock subtitle %}

{% block scripts %}
<script src="{% static "js/highcharts/highcharts.js" %}"></script>
<script>
	$(function(){
		{% for id, chart in charts_table.iteritems %}
		var series{{ chart.location }} = {% autoescape off %}{{ chart.series }};{% endautoescape %}
		Commons.live_chart(series{{ chart.location }}, "{{chart.title}}", "div#chart{{ chart.location }}", 60, "spline");
		{% endfor %}
	});
</script>
{% endblock scripts %}

{% block content %}
<table style="width:100%;">
	<tr>
		<td colspan="{{ charts_table.00.colspan }}" rowspan="{{ charts_table.00.rowspan }}">
			<div id="chart0"></div>
		</td>
		{% if "01" in charts_table %}
		<td colspan="{{ charts_table.01.colspan }}" rowspan="{{ charts_table.01.rowspan }}">
			<div id="chart1"></div>
		</td>
		{% endif %}
	</tr>
	<tr>
		{% if "10" in charts_table %}
		<td colspan="{{ charts_table.10.colspan }}" rowspan="{{ charts_table.10.rowspan }}">
			<div id="chart2"></div>
		</td>
		{% endif %}
		{% if "11" in charts_table %}
		<td colspan="{{ charts_table.11.colspan }}" rowspan="{{ charts_table.11.rowspan }}">
			<div id="chart3"></div>
		</td>
		{% endif %}
	</tr>
</table>
{% endblock content %}
