{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="{% static "js/highcharts/highcharts.js" %}"></script>
<script>
	$(function(){
		var power_series = [
			{	'system' : 'Electric',
				'subsystem' : 'Gross and Net',
				'indexes' : [],
				'columns' : ['GrossPowerUsed', 'GrossPowerProduced', 'NetPower']
			}
		];

		var greenhouse_series = [
			{	'system' : 'Arduino',
				'subsystem' : 'Greenhouse DHT',
				'indexes' : [],
				'columns' : ['temp_east_chimney_low', 'temp_east_chimney_high', 'temp_west_chimney_low', 'temp_west_chimney_high']
			}
		];

		var solar_series = [
			{	'system' : 'Solar',
				'subsystem' : 'Solar Overview',
				'indexes' : [],
				'columns' : ['TotalACPower']
			}
		];

		var weather_series = [
			{	'system' : 'Weather Station',
				'subsystem' : 'Weather',
				'indexes' : [],
				'columns' : ['outtemp']
			}
		];

		var hour = 60;

		Commons.live_chart(solar_series, "Solar Energy Production (W)", "#solar", hour, "spline");
		Commons.live_chart(weather_series, "Outside Temperature", "#weather", hour, "spline");
		Commons.live_chart(power_series, "Total Power Use (kW)", "#power", hour, "spline");
		Commons.live_chart(greenhouse_series, "Greenhouse Temperature (F)", "#greenhouse-temp", hour, "spline");
	});
</script>
{% endblock scripts %}

{% block content %}
<div id="solar" class="col-lg-6" style="height:300px;"></div>
<div id="weather" class="col-lg-6" style="height:300px;"></div>
<div id="power" class="col-lg-6" style="height:300px;"></div>
<div id="greenhouse-temp" class="col-lg-6" style="height:300px;"></div>
{% endblock content %}
