<!-- seriespicker.html -->
{# this is a drop-in file meant to be included by other templates, not extended! #}
{# once included, Commons.seriespicker() becomes available, which defines a series in the proper format #}
{% for system in systems %}
{# this monster if statement handles making the last div full-width if there is an odd number of them #}
{% if systems|length|divisibleby:2 != True and forloop.counter0|add:1 == systems|length %}
<div class="well col-md-12 series-picker" style="display:table-row" id="{{system.id}}" data-system="{{system.system}}" data-subsystem="{{system.subsystem}}">
{% else %}
<div class="well col-md-6 series-picker" style="display:table-row" id="{{system.id}}" data-system="{{system.system}}" data-subsystem="{{system.subsystem}}">
{% endif %}
	<h4><b>{{system.system}}</b>&nbsp;{{system.subsystem}}</h4>
	{% if system.indexes %}
	<div class="index-picker" style="display:table-cell;">
		<select multiple>
		<option class='check_all'>(select all)</option>
		<option class='uncheck_all' style='display:none'>(unselect all)</option>
		{% for id, name in system.indexes %}
		<option class='idx_option' data-indexid="{{id}}">{{name}}</option>
		{% endfor %}
		</select>
	</div>
	{% endif %}
	<div class="col-picker" style="display:table-cell;">
		<select multiple>
		<option class='check_all'>(select all)</option>
		<option class='uncheck_all' style='display:none'>(unselect all)</option>
		{% for id, name in system.numeric %}
		<option class='col_option' data-colid="{{id}}">{{name}}</option>
		{% endfor %}
		{% for id, name in system.string %}
		<option class='col_option' data-colid="{{id}}">{{name}}</option>
		{% endfor %}
		</select>
	</div>
</div>
{% endfor %}

<script>
	$(function(){
		// this handles when the "(select all)" options are checked
		$(".check_all").click(function(){
			$(this).siblings().prop("selected", true);
			$(this).parent().find(".uncheck_all").css({display:""});
			$(this).css({display:"none"});
		});
		// this handles when the "(unselect all)" options are checked
		$(".uncheck_all").click(function(){
			$(this).siblings().prop("selected", false);
			$(this).parent().find(".check_all").css({display:""});
			$(this).css({display:"none"});
		});
	});

	// extend the Commons object with a seriespicker function, which returns
	// a series object in the format used by the api (see timeseries.helpers.series_filter)
	Commons.seriespicker = function(){
		var serieses = [];
		$(".series-picker").each(function(idx,elem){
			var cols = [];
			$(this).find(".col_option").each(function(){
				if($(this).prop("selected")) cols.push($(this).data("colid"));
			});
			var idxs = [];
			$(this).find(".idx_option").each(function(){
				if($(this).prop("selected")) idxs.push($(this).data("indexid"));
			});
			serieses.push({
				'system' : $(this).data("system"),
				'subsystem' : $(this).data("subsystem"),
				'columns' : cols,
				'indexes' : idxs
			});
		});
		return serieses;
	}
</script>
<!-- end SeriesPicker.html -->
