<!-- seriespicker.html -->
<div id="seriespicker">
{# this is a drop-in file meant to be included by other templates, not extended! #}
{# once included, Commons.seriespicker() becomes available, which defines a series in the proper format #}
{% for system in systems %}
{# this monster if statement handles making the last div full-width if there is an odd number of them #}
{% if systems|length|divisibleby:2 != True and forloop.counter0|add:1 == systems|length %}
<div class="well col-md-12 series-picker" style="display:table-row" id="{{system.id}}" data-system="{{system.system}}" data-subsystem="{{system.subsystem}}">
{% else %}
<div class="well col-md-6 series-picker" style="display:table-row" id="{{system.id}}" data-system="{{system.system}}" data-subsystem="{{system.subsystem}}">
{% endif %}
	<h4><b>{{system.subsystem}}</b></h4>
	{% if system.index_name %}
	<div class="index-picker" style="display:table-cell;">
		<select multiple="multiple" class="multiselect multiselect-index-{{ system.id }}" style="display:none;">
			{% for id, name in system.indexes %}
			<option class='idx_option' data-indexid="{{id}}">{{name}}</option>
			{% endfor %}
		</select>
		<div class="btn-group">
			<ul class="multiselect-container dropdown-menu" style="max-height: 150px; overflow-y: auto; overflow-x: hidden;"></ul>
		</div>
	</div>
	{% endif %}
	<div class="col-picker" style="display:table-cell;">
		<select multiple="multiple" class="multiselect multiselect-{{ system.id }}" style="display:none;">
			{% for id, name in system.numeric %}
			<option class='col_option' data-colid="{{id}}">{{name}}</option>
			{% endfor %}
			{% for id, name in system.string %}
			<option class='col_option' data-colid="{{id}}">{{name}}</option>
			{% endfor %}
		</select>
		<div class="btn-group">
			<ul class="multiselect-container dropdown-menu" style="max-height: 150px; overflow-y: auto; overflow-x: hidden;"></ul>
		</div>
	</div>
</div>
{% endfor %}

<script>
	$(function(){
		{% for system in systems %}
		{% if system.index_name %}
		$("select.multiselect-index-{{ system.id }}").multiselect({
			enableFiltering : true,
			includeSelectAllOption : true,
			nonSelectedText : "Choose {{ system.index_name }}s"
		});
		{% endif %}
		$("select.multiselect-{{ system.id }}").multiselect({
			enableFiltering : true,
			includeSelectAllOption : true,
			nonSelectedText : "(click to select)"
		});
		{% endfor %}

		$("select.multiselect").change(function(){
			// thanks to http://ilee.co.uk/changing-url-without-page-refresh/
			// for how to set browser url without reloading page
			history.pushState({}, document.title, "/data/analyze/")
		});
	});

	// extend the Commons object with a seriespicker function, which returns
	// a series object in the format used by the api (see timeseries.helpers.series_filter)
	Commons.seriespicker = function(){
		var serieses = [];
		$(".series-picker").each(function(idx,elem){
			var cols = [];
			$(this).find(".col_option").each(function(){
				if($(this).prop("selected")) cols.push($(this).data("colid"));
			});
			var idxs = [];
			$(this).find(".idx_option").each(function(){
				if($(this).prop("selected")) idxs.push($(this).data("indexid"));
			});
			serieses.push({
				'system' : $(this).data("system"),
				'subsystem' : $(this).data("subsystem"),
				'columns' : cols,
				'indexes' : idxs
			});
		});
		return serieses;
	};

	Commons.load_seriespicker_state = function(state_objects){
		// clear <select>s
		$("div#seriespicker").find("option").prop("selected", false);
		for(var i=0; i<state_objects.length; i++){
			var state = state_objects[i];
			// get the div which wraps the <select>s for this system
			var series_div = $("div#seriespicker").find("div[data-system='"+state['system']+"'][data-subsystem='"+state['subsystem']+"']");
			// add back in selected indexes
			for(var j=0; j<state["indexes"].length; j++){
				series_div.find("option[data-indexid='"+state["indexes"][j]+"']").prop("selected", true);
			}
			// add back in selected columns
			for(var j=0; j<state["columns"].length; j++){
				series_div.find("option[data-colid='"+state["columns"][j]+"']").prop("selected", true);
			}
		}
		// refresh ui
		$("div#seriespicker").find("select.multiselect").multiselect("refresh");
	};

	Commons.load_seriespicker_by_id = function(s_id, callback){
		$.ajax({
			url : '/data/api/load/',
			type : 'POST',
			contentType : 'json',
			data : JSON.stringify({series_id : s_id})
		}).done(function(series_objects){
			Commons.load_seriespicker_state(series_objects);
			if(typeof(callback) !== "undefined")
				callback();
		});
	};
</script>
</div>
<!-- end SeriesPicker.html -->

