{% extends "base.html" %}
{% load static %}

{% block title %}Systems Status{% endblock title %}
{% block subtitle %}Systems Status{% endblock subtitle %}

{% block scripts %}
<script>
	setInterval(function(){
		Commons.get_systems(function(systems){
			for(var i=0; i<systems.length; i++){
				var system = systems[i];
				var status_html = '<span class="glyphicon glyphicon-ok-circle" style="color:#0C0;"></span>';
				if(system['status'] == 2){
					// communication error
					status_html = '<span class="glyphicon glyphicon-remove-circle" style="color:#C00;"></span>';
				}
				else if(system['status'] == 1){
					// format error
					status_html = '<span class="glyphicon glyphicon-warning-sign" style="color:#CC0;"></span>';
				}
				$("#status_" + system['id']).html(status_html);
			}
		});
	}, 10000);
</script>
{% endblock scripts %}

{% block content %}
<table class="table">
	<thead>
		<tr>
			<th>System</th>
			<th>Subsystem</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		{% for system in systems %}
		<tr>
			<td>{{ system.system }}</td>
			<td>{{ system.subsystem }}</td>
			<td id="status_{{ system.id }}">
			{% if system.status == 2 %}
			<span class="glyphicon glyphicon-remove-circle" style="color:#C00;"></span>
			{% elif system.status == 1 %}
			<span class="glyphicon glyphicon-warning-sign" style="color:#CC0;"></span>
			{% else %}
			<span class="glyphicon glyphicon-ok-circle" style="color:#0C0;"></span>
			{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}
