{% extends "base-leftnav.html" %}
{% load static %}

{% block scripts %}
<script src="{% static "js/highcharts/highcharts.js" %}"></script>
{% endblock scripts %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/figures.css'%}" />
{% endblock styles %}

{% block subtitle %}Electricity{% endblock subtitle %}

{% block content %}
<h3>Electricity and Power</h3>
<hr />

<p><b>Electricity</b> and <b>Power</b> are related and often used interchangeably, but they are not the same thing! Electricity is really the interaction between positive and negative charges. Power is energy use per time, and is measured in watts or kilowatts. If you run a 60 watt lightbulb for one hour, you have used 60 watt-hours of electrical energy. Remember: you can have electrical current that doesn't consume power, and power that isn't electrical!</p>

<hr />

<h3>Panels, Circuits, and Phases</h3>

<figure class="tall right">
	<img src="{% static 'images/veris_rings.jpg' %}" />
	<figcaption></figcaption>
</figure>

<p>Electrical usage in the Commons is measured by sensors inside the circuit breakers, or panels. There are three circuit breakers, confusingly numbered 2, 3, and 4. Panels 2 and 3 are "low-voltage," meaning they handle 120 Volt electricity. Panel 4 is "high-voltage," dealing in the 220~240V range. The high-voltage panel routes power to the elevator and air conditioning, and takes energy in from the <a href="/learn/solar.html">solar panels</a>. The low-voltage panels handle lights, outlets, fans, and pretty much everything else.</p>

<p>We collect data about each panel, and about each circuit inside the panel. This is done using sensors by a company called Veris. In the image on the right, you can see wires inside the circuit breaker passing through gray rings. These rings are current transformers, and how they work is a bit of (scientific) magic. As physics students know, electricity and magnetism are two forms of the same stuff. When electrical current passes through the wires, it creates a changing magnetic field (magnetic flux) around the wire that, in turn, produces electrical current in the rings. The Veris sensors measure the current in those rings, and can tell us all sorts of things about what is happening in our circuits <i>without physically touching the circuit!</i></p>

<p>Each panel has two columns of 21 sensors. Three panels with 42 circuit sensors per panel makes 126 independent circuit measurements, plus one big sensor per panel measuring totals. The reason there are 21 circuits on each side is that they come in groups of three (did you notice that there are 3 colors of wire - red, blue, and black?). Each wire is on a different <i>phase</i>, which looks something like this:</p>

<figure class="center tall">
	<img src="{% static 'images/three_phase_sine.jpg' %}" alt="three-phase sinusoids"  style="width:550px"/>
	<figcaption>Visual for three-phase alternating current</figcaption>
</figure>


<figure class="tall right">
	<img src="{% static 'images/circuit_breaker_2.jpg' %}" />
	<figcaption></figcaption>
</figure>

<p>Some devices use <i>three-phase electricity</i>, which means they make use of all three signals. Others are <i>two-phase</i>, but most are <i>single-phase</i>. It doesn't matter which of the three phases a single-phase device uses. Some switches on the circuit breaker connect two or three switches together; these are the two- and three-phase devices. This can make data analysis more difficult because sometimes one device is using two or three channels.</p>

<p>The data that the Veris sensors collect are sent to the small black box on the wall next to the panels, and from there they are made available on the local internet, where this website can then pull down new data every 30 seconds.</p>

{% endblock content %}