{% extends "base-leftnav.html" %}
{% load static %}

{% block scripts %}
<script src="{% static "js/highcharts/highcharts.js" %}"></script>
{% endblock scripts %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/figures.css'%}" />
{% endblock styles %}

{% block subtitle %}Geothermal{% endblock subtitle %}

{% block content %}
<h3>Greenhouse Floor</h3>
<hr />
<p>The idea of using Geothermal temperature control is that deep enough underground, the temperature remains fairly constant throughout the year. In the summer, it is a cool 50-60 degrees. In the winter, a balmy 50-60 degrees. By pumping refrigerant fluid underground, we dispose of excess heat in the summer, and pick up heat in the winter! Inside the building, the geothermal system is connected to the <i>radiant floor</i> in the greenhouse. Essentially, the concrete floor of the greenhouse acts as a giant heat transfer surface.</p>

<p>On cool days, the floor of the greenhouse is warmed by thermal energy underground, reducing the strain on other heating systems. In the summer, we actually shut the system off since cooling a concrete floor causes slippery condensation.</p>
{% endblock content %}