{% extends "base-leftnav.html" %}
{% load static %}

{% block scripts %}
<script src="{% static "js/highcharts/highcharts.js" %}"></script>
{% endblock scripts %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/figures.css'%}" />
{% endblock styles %}

{% block subtitle %}HVAC{% endblock subtitle %}

{% block content %}
<h3>What is HVAC</h3>
<hr />
<p>HVAC stands for Heating, Ventilation, and Air Conditioning. Simply put, it is the system that handles air. The Commons uses two relatively new technologies called VRF and ERV. Most big buildings have a network of ducts that move hot or cold air around the building, and bring in fresh outside air. The VRF system handles heating and cooling, while the ERV system brings in fresh air. They are two technologies performing the joint task of HVAC.</p>

<h3>Variable Refrigerant Flow (VRF)</h3>
<hr />
<p>The VRF system, instead of pushing around large volumes of heated or chilled air, pumps <b>refrigerant fluid</b> through small tubes. Not only do these tubes take up less space, but they allow heat to be handled more intelligently. There are two <b>branch controllers</b> in the building: one on the east side and one on the west side. These are the brains of the VRF system. They are capable of moving heat from one room to another, allowing us to simultaneously heat one part of the building and cool another with very little energy use! Traditional HVAC systems that rely on a central boiler or AC are "all or nothing". They either heat or cool the whole building at once, which wastes a lot of energy.</p>

<p>When the refrigerant fluid reaches a room, it goes through an <b>air handler</b>, which transfers heat between the air and the fluid. They take in ambient air from the room and blow the same air back out either warmer or colder.</p>

<h3>Energy Recovery Ventilation (ERV)</h3>
<hr />
<p>While VRF is very efficient at heating and cooling, it does nothing to bring in fresh air. That is where ERV comes in. There are four ERV units: in the project space, in the workshop, and in each of the science classrooms. They pump in fresh air and pull out stale air from inside. As the inside air and outside air move past each other, they exchange heat.</p>

<p>On a cold day, we may use a lot of energy heating the building. It would be a waste to throw out that heat just to bring in cold outside air! Inside the ERV unit, the heat from the outgoing air is transfered across a thin surface to the incoming air to heat it up, recovering the energy that we already put into heating. On a hot day in the summer, heat is transfered in the opposite direction, keeping the inside cool.</p>
{% endblock content %}