{% extends "base-leftnav.html" %}
{% load static %}

{% block scripts %}
<script src="{% static "js/highcharts/highcharts.js" %}"></script>
{% endblock scripts %}

{% block styles %}
<style type="text/css">
	.threecolumn > p{
		text-align: justify
	}

	.text-green{
		color:#43871A;
		font-weight: bold;
	}
	.text-red{
		color:#C92646;
		font-weight: bold;
	}
	.text-blue{
		color:#0052B4;
		font-weight: bold;
	}

	.recycle-arrow{
		width:50px;
	}
</style>
{% endblock styles %}

{% block content %}
<h1>A Sustainable Building</h1>
<p>A lot of work has gone into making the Commons a sustainable building. But what does it mean to be sustainable? Formally, we could say that sustainability is about minimizing the resources we use to reduce our footprint on the planet and ecosystem. To achieve such a lofty and long-term goal, we need to embrace sustainability as a way of life and take responsibility for the future!</p>
<p>Sounds simple enough, right? In fact, sustainability is a stubbornly difficult thing to define. Everyone knows that fossil fuels pollute, but electric cars might not be much better if they get their electricity from coal-burning power plants!</p>
<p></p>

<hr />

<div class="row">
	<div class="col-md-4 threecolumn">
		<center>
			<img class="recycle-arrow" src="{% static 'images/recyclable_6864_left.svg' %}" />
			<h2 class="text-green">Generation</h2>
		</center>
		<p>No matter how careful we are, the building will always use some energy. In order to achive net-zero, then, we must <span class="text-green">produce energy</span> of our own! The Commons is outfitted with <b>solar panels</b> on the roof which generate electricity and direclty offset energy used.</p>
		<p>The <b>Greenhouse</b> enables another kind of production! By growing our own food, we are more self-sufficient and have less of an impact on farmland. As an added bonus, plants are watered using rainwater that we collect off the roof.</p>
		<p>Even the <b>hot water</b> in the commons is a self-contained system, using solar energy to keep the hot water tank warm.</p>
	</div>
	<div class="col-md-4 threecolumn">
		<center>
			<img class="recycle-arrow" src="{% static 'images/recyclable_6864_top.svg' %}" />
			<h2 class="text-red">Moderation</h2>
		</center>
		<p>The fewer resources we use, the less it takes to overcome our impact! This is like the <span class="text-red">reduction</span> step of the common phrase "reduce, reuse recycle."</p>
		<p>Everything in the Commons is designed to use as little energy as possible. Overhead lights are all low-power <b>LEDs</b>, the <b>HVAC</b> system wastes no heat, and even the restrooms use minimal water.</p>
	</div>
	<div class="col-md-4 threecolumn">
		<center>
			<img class="recycle-arrow" src="{% static 'images/recyclable_6864_right.svg' %}" />
			<h2 class="text-blue">Omission</h2>
		</center>
		<p>A wise architect once said, "the most sustainable building material is the one you <span class="text-blue">never use</span>."</p>
		<p><b>Flag Hall</b> is heated in the winter with radiant floor heating. Excess heat from the old building's boiler has been redirected to snake through the floor of the hallway, making good use of the previously wasted heat energy we already had!</p>
		<p>To continue adding efficient systems is to continue using resources. To this end, the Commons was built largely using <b>recycled materials</b>. If the interior appears bare, that is because flooring and paint were liberally omitted!</p>
	</div>
</div>
<hr />
<h1>How (Big) Data can Help</h1>

<div id="graph-target"></div>

<p>The Commons has been outfitted with <span class="text-red">state-of-the-art systems</span>. Sometimes the interaction between these systems is simple: the sun’s intensity correlates with the power generated by our <span class="text-green">solar panels</span> (and clouds may be the biggest obstacle in achieving net-zero). Other times it is not so simple: opening the solar chimney moves hot air, but requires opening windows to supply air flow. Meanwhile the air conditioning unit blindly kicks on to fight the changing temperature. Did we save energy or not?</p>
<p>This is the kind of question we can use data to answer! It will take a <b>scientific approach</b> to evaluate what works best to save energy, and it will take <b>student leadership</b> to enact new policies!</p>

{% endblock content %}

{% block postscript%}
<script>
$(document).ready(function(){
	Commons.live_chart([{
		"system" : "Electric",
		"subsystem" : "Gross and Net", 
		"indexes" : [],
		"columns" : ["GrossPowerUsed", "GrossPowerProduced", "NetPower"]
	}], "Net Energy Usage", "#graph-target", 120);
});
</script>
{% endblock postscript%}
