{% extends "base-leftnav.html" %}
{% load static %}

{% block scripts %}
<script src="{% static "js/highcharts/highcharts.js" %}"></script>
{% endblock scripts %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/figures.css'%}" />
{% endblock styles %}

{% block subtitle %}Solar Hot Water{% endblock subtitle %}


{% block content %}
<h3>Retaining Solar Heat</h3>
<hr />
<p>On the roof of the Commons, between the banks of solar panels, there is a series of dark vertical tubes. These are <a href="http://en.wikipedia.org/wiki/Solar_water_heating">Evacuated Tube</a> water heaters. The water is not actually directly heated by the sun. Instead, a conroller in the greenhouse pumps cool refrigerant fluid up to the roof, where sunlight heats it inside the cylinders. Because the refrigerant pipes are suspended inside vacuum tubes, they don't loose any of their heat to conduction or convection, making the heating process very efficient! The refrigerant fluid is then pumped back down and through heat-transfer coils inside the hot water tank. This way, the water in the tank is heated by conduction. All of the hot water in the Commons comes from the hot water tank in the greenhouse.</p>

<p>The solar hot water system collects data, but not in a format we can easily access. It is logged onto an SD card on the controller in the greenhouse. Once a month, we need to manually transfer data from the SD card into our database.</p>
{% endblock content %}