{% extends "base-leftnav.html" %}
{% load static %}

{% block scripts %}
<script src="{% static "js/highcharts/highcharts.js" %}"></script>
{% endblock scripts %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/figures.css'%}" />
{% endblock styles %}

{% block subtitle %}Weather Station{% endblock subtitle %}

{% block content %}
<h3>Rooftop Weather Station(s)</h3>
<hr />
<p>Harley has a weather station on the roof where Flag Hall meets the old building. The weather station measures all sorts of things, from rainfall and humidity to temperature and wind. The data is transmitted wirelessly from the weather station down to the Vantage Pro 2 console in the Commons Control Room. From there, it is relayed out to the internet, where our data scrapers are able to capture and store the information.</p>

<p>The weather station is useful as a reference point for energy efficiency. We expect to be most efficient on sunny and warm days, and the weather station can tell us in absolute terms when that is.</p>

<p>The Commons has a second mini-weather-station on the roof, which was installed with the solar panels.</p>
{% endblock content %}